<div class="header">
    <h1>Nova admissão cooperado</h1>
    <span>Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</span>

    <div class="user-options">
        <div class="notifications">
            <img src="./assets/icons/alerts.png">

            <span class="count">7</span>
        </div>

        <button class="secondary">Viacred</button>

        <div class="user">
            <img 
                class="profile-img"
                src="./assets/profile.jpg">

            <img
                class="config-ico"
                src="./assets/icons/config.png">
        </div>
    </div>
</div>