.main {
    .header {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: 90px;
        padding-left: 100px;
        background: #ffffff;
    }

    .menu {
        position: absolute;
        z-index: 3;
        width: 100px;
        height: 100vh;
        background: #165c7d;
    }
    
    .content {
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 90px 0 0 100px;
        background: #e7eef1;
    }
}