.steps {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;

    .step {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        color: #889499;

        &::before {
            position: relative;
            z-index: 1;
            content: "";
            display: block;
            width: 18px;
            height: 18px;
            margin-bottom: 20px;
            border-radius: 9px;
            background: #c6ced1;
        }

        &::after {
            position: absolute;
            top: 8px;
            z-index: 0;
            content: "";
            display: block;
            width: 150px;
            height: 2px;
            background: #c6ced1;
        }

        &:first-child::after {
            width: 75px;
            margin-left: 75px;
        }

        &:last-child::after {
            width: 75px;
            margin-right: 75px;
        }

        &.active {
            &::before {
                width: 14px;
                height: 14px;
                border: 2px solid #125d79;
                background: #e7eef1;
            }

            color: #125d79;
        }
    }
}

form {
    input {
        width: 270px;
        margin-right: 15px;
    }

    .error-message {
        margin-top: 20px;
        color: #f17070;
    }
}

.cpf-data {
    display: flex;
    margin-top: 30px;

    .data {
        width: 270px;
        padding: 20px;
        margin-right: 15px;
        border-radius: 3px;
        background: #ffffff;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    
        h2 {
            margin: 0;
            font-size: 16px;
        }
    
        span {
            color: #787878;
            font-size: 14px;
        }
    
        .detail {
            display: flex;
            margin-top: 25px;
            font-weight: bold;
    
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                margin-right: 10px;
            }
    
            label {
                margin: 0;
                font-size: 12px;
                font-weight: lighter;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        height: 30px;
        margin-top: 25px;
    }
}

.footer-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px 25px;
    margin-left: -30px;
    background: #fff;
    
    button {
        height: 48px;
        margin-right: 15px;
        font-size: 16px;
    }
}