<div class="page">
    <div class="steps">
        <div class="step active">Início</div>
        <div class="step">Documentos</div>
        <div class="step">Dados Cadastrais</div>
        <div class="step">Admissão</div>
    </div>

    <h1>Informe o CPF do futuro cooperador (a)</h1>

    <p>
        Se necessário, você poderá duplicar uma conta existente ou pausar e retornar este cadastro futuramente.<br />
        Digite apenas os números (sem pontos ou traços).
    </p>

    <form
        [formGroup]="searchForm"
        (ngSubmit)="searchCpf()">

        <label for="cpf">CPF: </label>

        <input
            id="cpf"
            type="text"
            formControlName="cpf"
            placeholder="000.000.000-00"
            [mask]="'000.000.000-00'">

        <button type="submit">
            Consultar por CPF
        </button>

        <div
            *ngIf="errorMessage"
            class="error-message">

            {{ errorMessage }}
        </div>
    </form>

    <div
        *ngIf="cpfData"
        class="cpf-data">

        <div class="data">
            <h2>Situação cadastral do CPF</h2>
            <span>Consulta na Receita federal</span>

            <div class="detail">
                <div class="icon">
                    <img src="./assets/icons/profile.png">
                </div>

                <div>
                    <label>Nome</label>
                    {{ cpfData.name }}
                </div>
            </div>

            
            <div class="detail">
                <div class="icon">
                    <img [src]="cpfData.cpfSituation ? './assets/icons/success.png' : './assets/icons/error.png'">
                </div>

                <div>
                    <label>Situação do CPF</label>
                    {{ cpfData.cpfSituation ? 'Regular' : 'Irregular' }}
                </div>
            </div>
        </div>

        <div class="data">
            <h2>Conta aplicação</h2>
            <span>{{ cpfData.applicationAccount.bank }}</span>

            <div class="detail">
                <div class="icon">
                    <img src="./assets/icons/card.png">
                </div>

                <div>
                    <label>Número da conta</label>
                    {{ cpfData.applicationAccount.account }}-{{ cpfData.applicationAccount.digit }}
                </div>
            </div>

            <a href="javascript:void(0)">
                Duplicar conta
            </a>
        </div>

        <div class="data">
            <h2>Conta corrente</h2>
            <span>{{ cpfData.currentAccount.bank }}</span>

            <div class="detail">
                <div class="icon">
                    <img src="./assets/icons/card.png">
                </div>

                <div>
                    <label>Número da conta</label>
                    {{ cpfData.currentAccount.account }}-{{ cpfData.currentAccount.digit }}
                </div>
            </div>

            <a href="javascript:void(0)">
                Duplicar conta
            </a>
        </div>
    </div>

    <div class="footer-menu">
        <button (click)="resetSearch()">Iniciar nova admissão</button>

        <button class="secondary">Dicas para admissão</button>
    </div>
</div>