<img
    class="logo"
    src="./assets/logo.png" />

<ul class="menu">
    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/menu.png" />
        </a>
    </li>

    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/search.png" />
        </a>
    </li>

    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/star.png" />
        </a>
    </li>

    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/message.png" />
        </a>
    </li>

    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/dashboard.png" />
        </a>
    </li>

    <li>
        <a href="javascript:void(0)">
            <img src="./assets/icons/company.png" />
        </a>
    </li>
</ul>