.logo {
    display: block;
    margin: 20px auto;
}

.menu {
    list-style: none;
    padding: 0;

    li {
        height: 60px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            &:hover { background: #012f44; }
        }
    }
}